<div class="container">
  <div id="scandit-barcode-picker" style="max-width: 1280px; max-height: 80%;">
    <%= form_with url: "/products", class: '', method: "POST" do |form| %>
      <%= form.text_field :barcode, id: 'barcode-field' %>
      <%= form.text_field :compare, id: 'compare-field' %>
      <%= form.text_field :multiple, id: 'multiple-field' %>
      <% if @product %>
        <%= form.hidden_field :first_product_id, id: 'compare-product-id', value: product.id %>
      <% end %>
      <%= form.submit "Search", id: 'barcodeSubmit' %>
    <% end %>
  </div>
</div>
