<nav id="navbar-stick" class="navbar sticky-top navbar-static-top navbar-light bg-light d-flex justify-content-between">
  <%= link_to root_path do %>
    <span class="navbar-brand mb-0 h1"><i class="fas fa-paw"></i> BarcSnap!</span>
  <% end %>
  <% if current_user.nil? %>
    <!-- <p class="my-auto">Navbar punchline</p> -->
    <% cl_image = cl_image_tag("https://dummyimage.com/25x25/fff/000&text=%3F", type: "fetch", class: "rounded-circle my-auto") %>
  <% else %>
    <% username = current_user.display_name || current_user.email.split('@')[0] %>
    <!-- <p class="my-auto">Navbar punchline <%= username %></p> -->
    <p class="my-auto"><%= username %></p>
    <% if current_user.photo.attached? %>
      <% raise %>
      <% cl_image = cl_image_tag(current_user.photo.key, class: "rounded-circle my-auto", width: 24, height: 24) %>
    <% else %>
      <% initial = current_user.display_name.nil? ? current_user.email[0].upcase : current_user.display_name[0].upcase; %>
      <% cl_image = cl_image_tag("https://dummyimage.com/25x25/fff/000&text=#{initial}", type: "fetch", class: "rounded-circle my-auto") %>
    <% end %>
  <% end %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= cl_image %>
      <i class="fas fa-chevron-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
        <%= link_to '#' do %>
          <p class="dropdown-item">My User Profile</p>
        <% end %>
        <%= link_to edit_user_registration_path do %>
          <p class="dropdown-item">Update my profile</p>
        <% end %>
        <div class="dropdown-divider"></div>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </li>
</nav>
