<!-- Product info card -->
<% review_count = Product.find(params[:id]).reviews.count %>
<% avg_rating = @product.avg_rating %>
<% rating = avg_rating ? avg_rating.round(2) : '-' %>
<%= render 'shared/product_info' , product_name: @product.name, bg_img_url:@product.photo.attached? ? cl_image_path(@product.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://dummyimage.com/300x300/fff/000&text=X"), rating: rating, company_name: @product.company_name, ingredients: @product.ingredients, allergens: @product.allergens, size: @product.size, review_count: review_count%>
<!-- review_card -->
<!-- Button trigger modal -->
<%= render 'shared/modal_form' %>
<% if review_count > 0 %>
  <% review_first =  Product.find(params[:id]).reviews.first %>
  <% user = review_first.user %>
<% end %>
<!-- small box before toggling -->
<div class="toggling2">
  <div class="row px-3 d-flex justify-content-between">
    <h5 class="ml-2">Reviews <span class="text-muted"><%= review_count %></span></h5>
    <i class="fas fa-chevron-down toggling mr-1"></i>
  </div>
  <% if review_count > 0 %>
    <%= render 'shared/review_card_no_click', bg_img_url:user.photo.attached? ? cl_image_path(user.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://dummyimage.com/300x300/fff/000&text=X"), review: review_first.comment %>
  <% else %>
  <% end %>
</div>
<!-- Box when toggled -->
<div class="toggling3">
  <div class="title-card-product d-block">
    <div class="card-product-infos">
      <div class="row d-flex justify-content-between">
        <h5 class="ml-2">Reviews <span class="text-muted"><%= review_count %></span></h5>
        <i class="fas fa-chevron-up toggling4 mr-1"></i>
      </div>
    </div>
  </div>
  <div class="title-card-product2">
    <div class="card-product-infos">
      <span style = "font-size: 12px">Remember to keep comments respectful and to follow our <a href="#">Community Guidelines</a></span>
    </div>
  </div>
  <div class ="comment-box" data-toggle="modal" data-target="#createReview">
    <% if current_user.nil? %>
      <!-- <p class="my-auto">Navbar punchline</p> -->
      <%= render 'shared/review_card_no_click', bg_img_url:image_path("https://dummyimage.com/25x25/fff/000&text=%3F"), review: "Add a public comment..." %>
    <% else %>
      <%= render 'shared/review_card_no_click', bg_img_url: current_user.photo.attached? ? cl_image_path(current_user.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://dummyimage.com/300x300/fff/000&text=X"), review: "Add a public comment..." %>
    <% end %>
  </div>
  <% Product.find(params[:id]).reviews.each do |review| %>
    <% user = Review.find(review.id).user %>
    <%= render 'shared/review_card', bg_img_url:user.photo.attached? ? cl_image_path(user.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://dummyimage.com/300x300/fff/000&text=X"), img_url: 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg' , username: user.display_name, review:review.comment, rating:review.rating, source:review.source%>
  <% end %>
</div>
<%# <script>
  document.querySelector(".toggling")
    .addEventListener("click", (event) => {
      document.querySelector(".toggling2").classList.toggle("active");
      document.querySelector(".toggling3").classList.toggle("active");
    });
  document.querySelector(".toggling4")
    .addEventListener("click", (event) => {
      document.querySelector(".toggling2").classList.toggle("active");
      document.querySelector(".toggling3").classList.toggle("active");
    });
</script> %>
<!-- product_recommend_card -->
<%= render 'shared/product_recommend_card', show_compare_option: true %>
