<div class="close-modal">
  <div id="product-background-box" class="mx-0 my-1 p-3 position-relative border-bottom bg-white">
    <div class="card-category-product product-background p-0" style="background-image: url(<%= bg_img_url %>); background-size: contain;">
      <p id="badge-rating" class="mx-1 my-1 position-absolute badge badge-pill badge-secondary" style="bottom: 0px; right: 0px;"><strong> ⭐ <%= rating %></strong> (<%= review_count  %>)</p>
      <%= link_to product_favorites_path(@product), method: :post do %>
        <i class="fas fa-heart btn <%= defined?(@product_favorited) && @product_favorited ? 'btn-danger' : 'btn-dark' %>" style="position:absolute; left: 0; top: 0;"></i>
      <% end %>
    </div>
  </div>
  <div class="card-category bg-white w-100 text-justify-content-around">
    <div class="mx-4 mb-4 mt-0">
      <div class="row info-style p-3 d-flex justify-content-center">
        <strong><%= product_name %></strong>
      </div>
      <div class="row p-0 d-flex justify-content-center">
        <p class="mb-1"><strong>Category:</strong></p>
      </div>
      <div class="row info-style p-0 d-flex justify-content-center">
        <p class="mb-1"><%= "#{@product.tag_list.join(', ')}"  %></p>
      </div>
      <% if defined?(ingredients) && ingredients && ingredients.length.positive? %>
      <% raise %>
        <% if allergens == "No allergens found." %>

          <div class="row p-0 d-flex justify-content-center">
            <p class="mb-1"><strong>allergens:</strong></p>
          </div>
          <div class="row info-style p-0 d-flex justify-content-center">
            <p class="mb-1"><%= allergens %></p>
          </div>
        <% end %>

        <div class="row p-1 d-flex justify-content-center">
          <p class="mb-1"><strong>Ingredients:</strong></p>
        </div>
        <div class ="row info-style p-1 d-flex justify-content-center">
          <p class="mb-1">
            <% if ingredients.length > 30 %>
              <%= first_string = ingredients.slice(0,30) %><span class="dots">...</span>
              <span class="more">
                <%= second_string = ingredients.slice(30,ingredients.length-30) %>
              </span>
              <em><span class="read-more">Read more</span></em>
            <% else %>
              <%= ingredients %>
            <% end %>
          </p>
        </div>
      <% end %>
      <% if defined?(size) && size && size.length.positive? %>
        <div class="row  p-0 d-flex justify-content-center">
          <p class="mb-1"><strong>Size:</strong></p>
        </div>
        <div class="row info-style justify-content-center">
          <p class="mb-1"><%= size %></p>
        </div>
      <% end %>
      <div class="row p-0 d-flex justify-content-center">
        <p class="mb-1"><strong>Company name:</strong></p>
      </div>
      <div class="row info-style p-0 d-flex justify-content-center border-bottom-0">
        <p class="mb-1"><%= company_name %></p>
      </div>
    </div>
  </div>
</div>
