<div class="container px-0">
  <div class="compare-table">
    <span class="d-flex justify-content-center h4" style="color: rgba(0,0,0,.7)"><strong>Product Comparison</strong></span>
    <div class="row product-header py-2">
      <% [{product: @product, img: bg_img_url, name: product_name},
          {product: @product_compare, img: bg_img_url_compare, name: product_name_compare}].each do |product| %>
        <div class="col-6 text-center">
          <%= link_to product_path(product[:product]) do %>
            <div class="product-background-comparison-new px-0">
              <img src="<%= product[:img] %>" class="w-75 py-3">
            </div>
            <span><%= product[:name] %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row product-rating py-4">
      <% [{reviews: @product.reviews.count, rating: rating},
          {reviews: @product_compare.reviews.count, rating: rating_compare}].each do |product| %>
        <div class="col-6 flex-column d-flex align-items-center">
          <span><i class="fas fa-star"></i><%= product[:rating] %></span>
          <span>(<%= product[:reviews] %> reviews)</span>
        </div>
      <% end %>
    </div>
    <% unless ingredients.nil? && ingredients_compare.nil? %>
      <div class="row py-3">
        <div class="col text-center">Potential Allergens</div>
      </div>
      <div class="row product-ingredients pb-2">
        <% [allergens, allergens_compare].each_with_index do |allergens, i| %>
          <div class="col-6 d-flex flex-column pb-2 text-center">
            <span class="d-flex flex-grow-1 justify-content-center align-items-center pb-3"><%= allergens %></span>
            <button type="button" class="btn btn-outline-secondary mt-auto align-self-center"
            <%= "disabled" if allergens == "No ingredients provided." %> data-toggle="modal"
            data-target=<%= ["#ingredients", "#ingredients-compare"][i] %>>Full Ingredients</button>
          </div>
        <% end %>
      </div>
    <% end %>
    <% unless size.nil? && size_compare.nil? %>
      <div class="row py-3">
        <div class="col text-center">Size</div>
      </div>
      <div class="row product-size pb-2">
        <% [size, size_compare].each do |size| %>
          <div class="col-6 text-center">
            <%= size %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <% body_content = ingredients %>
  <%= render 'shared/modal', modal_id: 'ingredients', modal_title: 'Ingredients',
        text_header: ' ', text_body: ' ', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
</div>
<div class="container">
  <% body_content = ingredients_compare %>
  <%= render 'shared/modal', modal_id: 'ingredients-compare', modal_title: 'Ingredients',
        text_header: ' ', text_body: ' ', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
</div>
