<div style="position:relative;">
  <%= link_to product_favorites_path(@product), method: :post do %>
    <i class="fas fa-heart btn <%= defined?(@product_favorited) && @product_favorited ? 'btn-danger' : 'btn-dark' %>" style="position:absolute; left: 0; bottom: -1;"></i>
  <% end %>
</div>
<div class="product-background h-100" style="background-image: url(<%= bg_img_url %>);">
  <img src="<%= bg_img_url %>" style="visibility: hidden;" class = "w-100 h-100 position-relative">

</div>
<div class="card-category bg-white w-100 text-justify-content-around">
  <div class="m-4">
    <h2 class="info-style p-2">
      <strong> <%= product_name %> <span class = "h4"><i class="fas fa-star"></i> <%= rating %> </span></strong>
    </h2>
    <p class="info-style p-2"><strong>Category:</strong> <%= @product.tag_list.second %></p>
    <% if defined?(ingredients) && ingredients && ingredients.length.positive? %>
      <p class="info-style p-2"><strong>Ingredients:</strong> <%= ingredients %></p>
    <% end %>
    <% if defined?(size) && size && size.length.positive? %>
      <p class="info-style p-2"><strong>Size:</strong> <%= size %></p>
    <% end %>
    <p class="info-style p-2"><strong>Company name:</strong> <%= company_name %></p>
  </div>
</div>
