<div class="container px-0">
  <div class="compare-table">
    <span class="d-flex justify-content-center h4" style="color: rgba(0,0,0,.7)"><strong>Product Comparison</strong></span>
    <div class="row product-header py-2">
      <div class="col-6">
        <%= link_to product_path(@product) do %>
          <div class="product-background-comparison-new px-0" style="background-image: url(<%= bg_img_url %>);">
            <img src="<%= bg_img_url %>" style="visibility: hidden; width: 50%;">
          </div>
          <span class="d-flex justify-content-center pt-2"><%= product_name %></span>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to product_path(@product_compare) do %>
          <div class="product-background-comparison-new px-0" style="background-image: url(<%= bg_img_url_compare %>);">
            <img src="<%= bg_img_url_compare %>" style="visibility: hidden; width: 50%;">
          </div>
          <span class="d-flex justify-content-center pt-2"><%= product_name_compare %></span>
        <% end %>
      </div>
    </div>
    <div class="row product-rating py-2">
      <div class="col-6">
        <span class="d-flex justify-content-center"><i class="fas fa-star"></i><%= rating %></span>
        <span class="d-flex justify-content-center">(<%= @product.reviews.count %> reviews)</span>
      </div>
      <div class="col-6">
        <span class="d-flex justify-content-center"><i class="fas fa-star"></i><%= rating_compare %></span>
        <span class="d-flex justify-content-center">(<%= @product_compare.reviews.count %> reviews)</span>
      </div>
    </div>
    <% if !ingredients.nil? && !size_compare.nil?%>
      <span class="d-flex justify-content-center py-2">Potential Allergens</span>
      <div class="row product-ingredients pb-2">
        <div class="col-6 text-center">
          <span class="d-flex justify-content-center pb-2"><%= allergens %></span>
          <button type="button" class="btn btn btn-dark" data-toggle="modal"
            data-target="#ingredients">Full Ingredients
          </button>
        </div>
        <div class="col-6 text-center">
          <span class="d-flex justify-content-center pb-2"><%= allergens_compare %></span>
          <button type="button" class="btn btn btn-dark" data-toggle="modal"
            data-target="#ingredients-compare">Full Ingredients
          </button>
        </div>
      </div>
    <% end %>
    <% if !size.nil? && !size_compare.nil? %>
      <span class="d-flex justify-content-center py-2">Size</span>
      <div class="row product-size pb-2">
        <div class="col-6">
          <span class="d-flex justify-content-center"><%= size %></span>
        </div>
        <div class="col-6">
          <span class="d-flex justify-content-center"><%= size_compare %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <% body_content = ingredients %>
  <%= render 'shared/modal', modal_id: 'ingredients', modal_title: 'Ingredients',
        text_header: ' ', text_body: ' ', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
</div>
<div class="container">
  <% body_content = ingredients_compare %>
  <%= render 'shared/modal', modal_id: 'ingredients-compare', modal_title: 'Ingredients',
        text_header: ' ', text_body: ' ', body_content: body_content,
        redirect_path: root_path, btn_modal_confirm: 'Home'  %>
</div>
