<div class="close-modal">
  <div id="product-background-box" class="mx-0 my-1 p-3 position-relative border-bottom bg-white">
    <div class="card-category-product product-background p-0" style="background-color: white; background-image: url(<%= bg_img_url %>); background-size: contain;">
      <p id="badge-rating" class="mx-1 my-1 position-absolute badge badge-pill badge-secondary" style="bottom: 0px; right: 0px;"><strong> ⭐ <%= rating %></strong> (<%= review_count  %>)</p>
      <%= link_to product_favorites_path(@product), method: :post, remote: true do %>
        <div id="btn-favorite-<%= @product.id %>" style="position:absolute; left: 0; top: 0; font-size:1rem;">
          <%= render 'products/favorite_button', product_favorited: @product_favorited %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-category bg-white w-100 text-justify-content-around">
    <div class="mx-4 mb-4 mt-0">
      <div class="row info-style p-3 d-flex justify-content-center">
        <strong><%= product_name %></strong>
      </div>
      <div class="row p-0 d-flex justify-content-center">
        <p class="mb-1" style="font-size:18px;"><strong>Category</strong></p>
      </div>
      <div class="row info-style p-0 d-flex justify-content-center">
      <% @product.tag_list.each do |tag| %>
        <%= link_to (product_path(0) + "?sort_by=tag&tag_name=#{tag}") do %>
          <p class="badge badge-pill badge-dark mx-1"><%= "#{tag}" %></p>
        <% end %>
      <% end %>
      </div>
      <% if defined?(ingredients) && ingredients && ingredients.length.positive? %>
        <% unless allergens == "No allergens found." %>
          <div class="row p-0 d-flex justify-content-center">
            <p class="mb-1" style="font-size:18px;">
              <strong>Common allergens</strong>
            </p>
          </div>
          <div id="inputText"class="row info-style p-0 d-flex justify-content-center">
            <p class="mb-1" style="font-size:14px;"><%= allergens %></p>
          </div>
        <% end %>
        <div class="row p-1 d-flex justify-content-center">
          <p class="mb-1" style="font-size:18px;">
            <i class="fas fa-apple-alt text-success"></i>
            <strong> Ingredients</strong>
            <% if @allergies_matched_count > 0 %>
            <p class="mx-0 my-0 badge">
            </p>
            <p class="mx-0 my-1 badge badge-pill badge-danger">
              <strong> <%= @allergies_matched_count %> </strong>
            </p>
            <% end %>
            <% if @dislikes_matched_count > 0 %>
            <p class="mx-0 my-1 badge">
            </p>
            <p class="mx-0 my-1 badge badge-pill badge-warning">
              <strong> <%= @dislikes_matched_count %> </strong>
            </p>
            <% end %>
          </p>
        </div>
        <div class ="row info-style p-1 d-flex justify-content-center" style="font-size:14px;">
          <p id="inputText2" class="mb-1">
            <% if ingredients.length > 30 %>
              <%= first_string = ingredients.slice(0,30) %><span class="dots">...</span><span class="more"><%= second_string = ingredients.slice(30,ingredients.length-30) %></span>
              <button id="btn-read-more" class="btn btn-link p-0 toggle-read-more">Read more</button>
            <% else %>
              <%= ingredients %>
            <% end %>
          </p>
        </div>
      <% end %>
      <% if defined?(size) && size && size.length.positive? %>
        <div class="row  p-0 d-flex justify-content-center">
          <p class="mb-1" style="font-size:18px;"><strong>Size</strong></p>
        </div>
        <div class="row info-style justify-content-center">
          <p class="mb-1" style="font-size:14px;"><%= size %></p>
        </div>
      <% end %>
      <div class="row p-0 d-flex justify-content-center">
        <p class="mb-1" style="font-size:18px;"><strong>Company</strong></p>
      </div>
      <div class="row info-style p-0 d-flex justify-content-center border-bottom-0">
        <p class="mb-1" style="font-size:14px;"><%= company_name %></p>
      </div>
    </div>
  </div>
</div>
<script>
  function highlight2(text, inputTexty, decoration) {
    var inputText = document.getElementById(inputTexty);
    var innerHTML = inputText.innerHTML;
    var index = innerHTML.indexOf(text);
    if (index >= 0) {
    innerHTML = innerHTML.substring(0,index) + "<span class='"+decoration+"'>" + innerHTML.substring(index,index+text.length) + "</span>" + innerHTML.substring(index + text.length);
    inputText.innerHTML = innerHTML;
    }
  }

  function parsing(rubyarray) {
    var current = rubyarray;
    answer = current.replace(/[&quot;]+/g, '"');
    var array = JSON.parse(answer);
    return array
  }

  array_allergies = parsing("<%= @array_allergies %>");

  array_allergies.forEach(function (item) {
    if (!(document.getElementById("inputText")==null)) {
      highlight2(item, "inputText", "highlight");
    }
    if (!(document.getElementById("inputText2")==null)) {
      highlight2(item, "inputText2", "highlight");
    }
  });

  array_dislikes = parsing("<%= @array_dislikes %>")
  array_dislikes.forEach(function (item) {
    if (!(document.getElementById("inputText")==null)) {
      highlight2(item, "inputText", "highlight2");
    }
    if (!(document.getElementById("inputText2")==null)) {
      highlight2(item, "inputText2", "highlight2");
    }
  });
</script>
