<div class="card-product">
  <img class="" src="<%= bg_img_url %>" />
  <div class="card-product-infos">
    <h2><%= username %> | <i class="fas fa-star"></i> <%= rating %></h2>
    <p><%= review %></p>
    <p><strong>Source:</strong> <%= source %></p>
  </div>
</div>

