<!-- Render banner and modal -->
<%= render 'shared/home_banner' %>
<!-- Homepage contents -->
<div class="container mt-3">
  <div>
    <div class="row" style="position: relative;">
      <div class="col-9">
        <h4 class="mb-1">Top rating</h4>
      </div>
      <div class="col">
        <a href="" class="mb-1 text-right mr-3" style="position: absolute; bottom:0; right:0;">More<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="cards-product">
      <div class="overflow-auto">
        <% @top_rating_products.each_slice(2) do |product_row| %>
          <div class="row mx-0">
            <% product_row.each do |product| %>
              <div class="col p-0 m-0">
                <% bg_img_url = product.photo.attached? ? cl_image_path(product.photo.key) : '' %>
                <%= link_to product_path(product) do %>
                  <%= render 'shared/product_card', bg_img_url: bg_img_url, product_name: product.name, price: "¥#{rand(10..60) * 50}" %>
                <% end %>
              </div>
            <% end %>
            <% (2 - product_row.count).times do |i| %>
              <%# <div class="col p-0 m-0">
                <div class="card-category-product mx-1 invisible"></div>
              </div> %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <div class="row" style="position: relative;">
      <div class="col-9">
        <h4 class="mt-3 mb-1">Loved by the people</i></h4>
    </div>
    <div class="col">
      <a href="" class="mb-1 text-right mr-3" style="position: absolute; bottom:0; right:0;">More<i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
  <div class="cards-product">
    <div class="overflow-auto">
      <% @most_liked_products.each_slice(2) do |product_row| %>
        <div class="row mx-0">
          <% product_row.each do |product| %>
            <div class="col p-0 m-0">
              <% bg_img_url = product.photo.attached? ? cl_image_path(product.photo.key) : '' %>
              <%= link_to product_path(product) do %>
                <%= render 'shared/product_card', bg_img_url: bg_img_url, product_name: product.name, price: "¥#{rand(10..60) * 50}" %>
              <% end %>
            </div>
          <% end %>
          <% (2 - product_row.count).times do |i| %>
            <div class="col p-0 m-0">
              <div class="card-category-product mx-1 invisible"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<!-- Render footer -->
<%= render 'shared/home_footer' %>
