<div class="container">
<h3 class="text-dark mt-0 mb-2"><%= @page_header %></h3>
<% @products.each do |product| %>
  <% image_url = product.photo.attached? ? cl_image_path(product.photo.key) : image_path("default-product.png") %>
  <% days_ago = (Date.today - Date.new(product.created_at.year, product.created_at.month, product.created_at.day)).to_i %>
  <% avg_rating = product.avg_rating %>
  <% rating_str = "â­#{avg_rating ? avg_rating.round(1) : '-'} (#{product.reviews.count})" %>
  <div class="my-1">
    <% product_favorited = false %>
    <% if current_user && product %>
      <% product_favorited = current_user.favorited?(product) %>
    <% end %>
    <div class="position-relative">
      <%= link_to product_path(product) do %>
        <%= render 'shared/user_history_card', product: product, product_favorited: product_favorited, img_url: image_url, product_name: product.name, price:rating_str, scanned_time: '' %>
      <% end %>
      <%= link_to product_favorites_path(product), method: :post, remote: true do %>
        <div id="btn-favorite-<%= product.id %>" style="position:absolute; right: 8px; bottom: 8px; font-size:1rem;">
          <%= render 'products/favorite_button', product_favorited: product_favorited %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
