<div class="container">
  <% if params[:sort_by] %>
    <div class="dropdown my-2 text-right">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort By
      </a>
      <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Most Related</a>
        <a class="dropdown-item" href="#">Rating</a>
        <a class="dropdown-item" href="#">Oldest</a>
        <a class="dropdown-item" href="#">Newest</a>
      </div>
    </div>
    <% products = @product.find_related_on_tags %>
    <% products.each do |product| %>
      <% image_url = product.photo.attached? ? cl_image_path(product.photo.key) : '' %>
      <% days_ago = (Date.today - Date.new(product.created_at.year, product.created_at.month, product.created_at.day)).to_i %>
      <% reviews = product.reviews %>
      <% rating = (reviews.map(&:rating).sum / reviews.count).round(2) %>
      <div class="my-1">
        <%= link_to product_path(product) do %>
          <%= render 'shared/user_history_card', img_url: image_url, product_name: product.name, price:"⭐ #{rating}", scanned_time: '' %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <!-- Product info card -->
    <%= render 'shared/product_info' , product_name: @product.name, bg_img_url:@product.photo.attached? ? cl_image_path(@product.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://i.ytimg.com/vi/I4rS15xBL1Y/maxresdefault.jpg"), rating:"4.7", company_name: @product.company_name, price: "¥100", ingredients: @product.ingredients, size: @product.size%>
  </div>
  <!-- review_card -->
  <% if true %>
    <%= render 'shared/review_card_no_click', img_url: 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg', review: 'Very awesome product.' %>
  <% else %>
    <div class="title-card-product">
      <div class="card-product-infos">
        <% review_count = 233 %>
        <h5><strong>Reviews</strong> <span class="text-muted"><%= review_count %></span></h5>
      </div>
    </div>
    <div class="title-card-product2 .bg-secondary">
      <div class="card-product-infos">
        <span style = "font-size: 12px">Remember to keep comments respectful and to follow our <a href="#">Community Guidelines</a></span>
      </div>
    </div>
    <%= render 'shared/review_card', img_url: 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg' , username: 'Kandanai Leenutaphong', review:'very awesome product'%>
  <% end %>
  <!-- product_card -->
  <div class="row" style="position: relative;">
    <div class="col-9">
      <h4 class="mb-1">Recommended for you</h4>
    </div>
    <div class="col">
      <%=  link_to (product_path + '?sort_by=related') do %>
        <p class="mb-1 text-right mr-3" style="position: absolute; bottom:0; right:0;">More<i class="fas fa-chevron-right"></i></p>
      <% end %>
    </div>
  </div>
  <div class="cards-product">
    <% @product.find_related_on_tags.each_with_index do |product, index| %>
      <% if (index % 2  == 0) %>
        <div class="row">
        <% end %>
        <% if index %2 == 0 %>
          <div class="col ml-3 pr-1">
          <% else %>
            <div class="col mr-3">
            <% end %>
            <%= link_to product_path(product) do %>
              <%= render 'shared/product_card', bg_img_url: product.photo.attached? ? cl_image_path(product.photo.key , height: 300, width: 400, crop: :fill) : image_path("https://i.ytimg.com/vi/I4rS15xBL1Y/maxresdefault.jpg"), product_name: product.name, price: "¥50"%>
            <% end %>
          </div>
          <% if (((index - 1) % 2  == 0 && index - 1 >= 0) || @product.find_related_on_tags.length == 1) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<!-- footer -->
<%= render 'shared/footer' %>
